* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
}

.container {
  width: 88%;
  margin: auto;
}

h1 {
  color: #444b51;
}

h2 {
  color: #444b51;
}

p {
  color: #b5babd;
}

button {
  cursor: pointer;
}