@media (min-width: 768px) {
  body {
    background-image: url("../images/bg-header-desktop.png");
  }

  header {
    .clip-header {
      h1 {
        font-size: 34px;
      }

      p {
        width: 46%;
      }
    }

    .download-btns {
      flex-direction: row;

      .ios-btn {
        width: 22%;
        margin-right: 10px;
      }

      .mac-btn {
        width: 22%;
        margin-top: 0px;
        margin-left: 10px;
      }
    }
  }

  .sec-one {

    .one-desc {

      // text-align: center;
      h1 {
        font-size: 34px;
      }

      p {
        width: 46%;
        margin: auto;
        margin-top: 20px;
      }
    }

    .spc-start {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .mac-screen {
        img {
          width: 100%;
          margin-left: -112px;
        }
      }

      .specification {
        // border: 1px red solid;
        text-align: left;

        .spc {

          // text-align: left;
          p {
            margin-left: 0;
            text-align: left;
            width: 57%;
          }
        }
      }
    }
  }

  .sec-two {
    margin-top: 160px;
    .access-feat {
      h1 {
        font-size: 34px;
      }

      p {
        width: 46%;
        margin: auto;
        margin-top: 20px;
      }
    }

    .access-img {
      text-align: center;

      img {
        width: 75%;
      }
    }
  }

  .sec-three {
    h1 {
      font-size: 34px;
    }

    p {
      width: 46%;
      margin: auto;
      margin-top: 20px;
    }

    .properties {
      display: flex;
      align-items: center;
      

      .prop {
        width: 50%;
      }

      .text,
      .preview {
        margin-top: -36px;
      }

      .blacklist {

        p {
          width: 80%;
        }
      }

      .text {

        p {
          width: 80%;
        }
      }

      .preview {

        p {
          width: 80%;
        }
      }
    }

    .companies {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      text-align: center;

      .google,
      .ibm,
      .microsoft,
      .hp,
      .vector {}
    }
  }

  .sec-four {
    .clip-for {
      h1 {
        font-size: 34px;
      }

      p {
        width: 46%;
        margin: auto;
        margin-top: 20px;
      }
    }

    .download-btns {
      flex-direction: row;

      .ios-btn {
        width: 22%;
        margin-right: 10px;
      }

      .mac-btn {
        width: 22%;
        margin-top: 0px;
        margin-left: 10px;
      }
    }
  }

  .footer {
    flex-direction: row;
    justify-content: space-evenly;

    .f-ul {
      ul {
        max-width: 400px;
        text-align: left;

        li {
          display: inline-block;
          margin: 5px 20px;
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  body {
    background-image: none;
  }

  header {
    background-image: url("../images/bg-header-desktop.png");
    background-size: cover;
    .clip-header {
      margin-top: 0;
      padding-top: 124px;
    }
  }

  .sec-three {
    .properties {
      .text {
        margin-top: -6px;
      }
      .preview {
        margin-top: -34px;
      }
    }
  }
}