// Colors

// Primary

$strongCyan: hsl(171, 66%, 44%);
$lightBlue: hsl(233, 100%, 69%);

// Neutral

$darkGrayishBlue: hsl(210, 10%, 33%);
$grayishBlue: hsl(201, 11%, 66%);


@import './global.scss';
@import './hero.scss';
@import './media1440.scss';